
     .loginwrapper {
    margin: auto;
    width: 40%;
    border: 3px solid #567E3A !important;
    border-radius: 1.5%;
    padding-top: 4%;
    padding-bottom:3%;
    padding-left:5%;
    padding-right:10%;
    box-shadow: 5px 10px  #82b74b	;
    background-color: #4A4848 !important;
    
}


.centerreg{
    margin: auto;
    width: 100% !important;
     /* border: 3px solid #567E3A !important;   */
    padding-bottom:3%;
    padding-left:35%;
    padding-right:10%;
}
        
.loginbox{
    padding-top:120px;
}

body{
    background-color: #333 !important;

}
#txtusername,#txtpassword{
    color:white;
    font-weight:bolder;
    font-size: 110%;
    
    

}

.checkbox{
    color:whitesmoke;
    font-weight:bolder;
}



#username,#password{
    /* color:green !important; */
    color:#82b74b !important;
    font-weight: bolder;
    width:150%;
}

#forgotPassword{
    color:white;
    font-size: 80%
}

.loginbar{
    background-color: #0A0A0A !important;
    color:white !important;
    font-family: 'Bitter';
    font-size:150%;
    font-weight: bold;
}

.loginButton{
 padding-left:20% !important;
 padding-top:3% !important;
}
.lgbuttonSize{
    padding: 10px 40px !important ;
}
/* #txtfname,#txtlname{    
    width:150% !important;

} */

.radioButton{
    padding-left:38% !important;
}
.regbutton{
        padding-left: 46% !important;
    padding-top: 10% !important;
}
.regbuttonsize{
    padding: 5px 25px !important ;
}
/* .btn .btn-primary.regbuttonsize{
    padding-left:10% !important;

} */
