
     .loginwrapper {
    margin: auto;
    width: 40%;
    border: 3px solid #567E3A !important;
    border-radius: 1.5%;
    padding-top: 4%;
    padding-bottom:3%;
    padding-left:5%;
    padding-right:10%;
    box-shadow: 5px 10px  #82b74b	;
    background-color: #4A4848 !important;
    
}


.centerreg{
    margin: auto;
    width: 115% !important;
    border: 3px solid #567E3A !important;  
    box-shadow: 5px 10px  #82b74b	; 
    border-radius: 1.5%;
    padding-top: 10%;
    padding-bottom:3%;
    padding-left:15%;
    padding-right:15%;
}
        
.loginbox{
    padding-top:120px;
}

body{
    background-color: #333 !important;

}
#txtusername,#txtpassword{
    color:white;
    font-weight:bolder;
    font-size: 110%;
    
    

}

.checkbox{
    color:whitesmoke;
    font-weight:bolder;
}



#username,#password{
    /* color:green !important; */
    color:#82b74b !important;
    font-weight: bolder;
    width:150%;
}

#forgotPassword{
    color:white;
    font-size: 80%
}

.loginbar{
    background-color: #0A0A0A !important;
    color:white !important;
    font-family: 'Bitter';
    font-size:150%;
    font-weight: bold;
}

.loginButton{
 padding-left:20% !important;
 padding-top:3% !important;
}
.lgbuttonSize{
    padding: 10px 40px !important ;
}
/* #txtfname,#txtlname{    
    width:150% !important;

} */

.radioButton{
    padding-left:38% !important;
}
.regbutton{
        padding-left: 46% !important;
    padding-top: 10% !important;
}
.regbuttonsize{
    padding: 5px 25px !important ;
}
/* .btn .btn-primary.regbuttonsize{
    padding-left:10% !important;

} */

.space{
    padding-left: 15%;
}

 .button {
    display: inline-block;
    border-radius: 4px;
    background-color:#439047 ;
    border: none;
    color: #FFFFFF;
    text-align: center;
    width: 100px;
    height:30px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 3px;
    padding-bottom: 3px;
 
    
  }
   
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    
  }
  
   .button span:after {
    content: '\00ab';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -20px;
    transition: 0.5s;
    
  }
  
   .button:hover span {
    padding-left: 25px;
    
  }
  
   .button:hover span:after {
    opacity: 1;
    left: 0;
    
  }

  .button:hover{
    background-color: #1dad0a !important;
    border-color: #1dad0a !important;
  }

#btnBack{
    padding-top: 0.5%;
}