nav.navbar.navbar-default.navbar-static-top 
{
    background-color: #000000!important;
    /* font-family:'Garamond'; */

    font-family:'Mf Sippin On Sunshine';
    font-weight: bold;

    font-size: 1.0em;
    min-height: 60px;

    /* display: block;
    width: 15px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #98bf21;
    text-align: center;
    padding: 1.5px;
    text-decoration: none;
    text-transform: uppercase; */

    /* margin-top: 0.5%; */
    /* border-top:red !important;
    border-width: 0.5%!important; */

}
button{
    background-color: #fff ;
    margin-top: -5px;
    margin-left: 0px;
    margin-bottom:10px;

}
/* body{
    background-color:#Bcc3c4 ;
    z-index: inherit -1; 
} */

.nav>li>a
{
    /* background-color: #654d4d8a !important;  side bar code */
     background-color: #333 !important; 
    
}

/* nav div.navbar-default.sidebar
{
    margin-bottom:4% !important;
} */

/* .sidebar
{
    margin-top:10% !important;
} */

ul#side-menu.nav li a{
    background-color: #202020 !important;
    color:#fff;
}

ul#side-menu.nav.in
{
    margin-top:-1%;
}

div#wrapper{
    background-color: #202020 !important;
}

div#page-wrapper
{
    background-color: #fff !important;
    padding-top:2%;
    min-height:556px !important;
    
}
nav div.navbar-default.sidebar{
    /* margin-bottom: none; */
     padding-top:0px;
     margin-top: 60px!important;

}

a 
{
    /* color: #00A45B; */
    color: #333;
    margin-bottom: -1px!important;
}

i.fa.fa-dashboard,fa-fw::before
{
    color: #333;
    /* color: #Bcc3c4; */
}

i.fa.fa-bar-chart-o.fa-fw::before
{
    color: #333;
    /* color: #Bcc3c4; */
}
i.fa.fa-table,fa-fw::before
{
    color: #333;
    /* color: #Bcc3c4; */
}
i.fa.fa-edit,fa-fw::before
{
    color: #333;
    /* color: #Bcc3c4; */
}
i.fa.fa-wrench,fa-fw::before
{
    color: #333;
    /* color: #Bcc3c4; */
}
i.fa.fa-sitemap,fa-fw::before
{
    color: #333;
    /* color: #Bcc3c4; */
}
i.fa.fa-files-o.fa-fw::before
{
    color: #333;
    /* color: #Bcc3c4; */
}

i.fa.fa-tasks.fa-fw::before
{
    
    color: #Bcc3c4;
}
i.fa.fa-bell.fa-fw::before
{
    
    color: #Bcc3c4;
}
i.fa.fa-user.fa-fw::before
{
   
    color: #Bcc3c4;
}
i.fa.fa-caret-down::before
{
    
    color: #Bcc3c4;
}i.fa.fa-envelope.fa-fw::before
{
    color: #Bcc3c4;
    /* color: #Bcc3c4; */
}
a.navbar-brand span
{
    font-family: 'Bitter';
    color:oldlace;
    font-size:220%;
    font-weight: bold;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    
}

/* a.navbar-brand small
{
    color:#fbfbfbfa;
    font-size: 60%;
    font-family:'Kaushan Script';
} */


a.navbar-brand span img
{
    width: 8%;
    margin-top: -1.3%;
   
}





h1
{
    font-family:'Patua One';
}


 body{
     overflow-x: hidden; 
} 


.navbar-brand {
    line-height: 29px!important;
}
.nav>li>a:focus, .nav>li>a:hover{
    background-color: #333!important;
}
 
.adduser_btn{
    font-family: "Patua One";
    font-weight: bold;
    color: rgb(35, 82, 124);
    font-size: 16px;
    padding-left: 23px;
    /* padding: 4% */
    position: absolute;
}

.confot
{
    padding-left:42% !important;
    background-color: #fff !important;
    width:100%!important;
}

.table
{
    padding-left:2%;
    font-size: 19px;
    margin-bottom: 0px;
}
.btn-default{
    padding:none;
    background-color: #439047!important;
    border-color: #439047 !important;
    color: #fff;
}
.btn-default:hover{
    
    background-color: #34aa3a!important;
    border-color: #34aa3a !important;
    color: #fff;
    
}

.fa-plus-square:before{
    color: #fff;
    background-color: #337ab7;
}
i.far.fa-plus-square.btn_blue:before{
    margin-bottom: 10%;
} 
.btn-danger {
    background-color: #983e3b!important;
}  
.btn-danger:hover {
    background-color:	#FF0000!important;
 
}
.btn-info
{
    background-color: 	#cf8d14 !important;
    border-color: 	#FFA500 !important;
}
.btn-info:hover
{
    background-color: #FFD700 !important;
    border-color: 	#FFD700 !important;
    
}
.btn-primary
{
    background-color: #439047 !important;
    border-color: #439047 !important;
}

.btn-primary:hover
{
    background-color: #1dad0a !important;
    border-color: #1dad0a !important;
}

#tlbuser
{
    font-size:16px !important;
}

/*logo*/
.logo{
    height: 20px;
    width: 20px;
}

a.navbar-brand span{
    font-size: 200%;
}